<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Media Query Example</title>
  <link rel="stylesheet" href="static/reset.css">
  <link rel="stylesheet" href="static/style_take.css">
  <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="row">
        <div class="col-xs-12 col-md-12">
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/camera"  class="active">Take a Picture</a>
      <a href="/engine">Engine Stats</a>
      <!-- <a href="extra.html">Extra</a> -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</div>

<body>



          <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="cameratxt" style="font-size:3vw;">
                Camera
            </div>
          </div>


    <div class="col-xs-6 col-md-6">
        <div class="classification" style="font-size:2vw;">
            Classification:
        </div>
      </div>
  
        <div class="col-xs-6 col-md-6">
        <div class="answer" style="font-size:2vw;">
          90% Male
      </div>
    </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6 text-center">
    <div class="center">
      <img src="static/profile2.png">
    </div>
    </div>
  </div>

  <div class="row"></div>
  <div class="col-xs-6 col-md-6">
  <div class="camera">
    <main id="camera">
        <!-- Camera view -->
        <video id="camera--view" autoplay playsinline></video>
      </div>
    </div>
  </div>

            <!-- Camera sensor -->
            <!-- <div class="row"> -->
            <div class="col-xs-6 col-md-6 text-center">
            <canvas id="camera--sensor"></canvas>
          </div>
        </div>
            <!-- Camera output -->
            <div class="row">
            <div class="col-xs-6 col-md-6">
              <div class="results"></div>
            <img src="//:0" alt="" id="camera--output">
          </div>
        </div>
            <!-- Camera trigger -->
          </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
            <button id="camera--trigger">Take Photo</button>
          </div>
        </div>
        <form action="{{ url_for('handle_data') }}" method="post" name="datauri" style="display: none;">
            <input type="text" name="datauri" id="picpost">
        </form>
    </main>
<!-- Reference to your JavaScript file -->
<script src="static/app.js"></script> 
</body>
</html>