<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Media Query Example</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="static/style_take.css">
  <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="homepage.html"> <img class="home" src="static/camera.png"></a>

    <div class="row">
        <div class="col-xs-12 col-md-12">

    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
      <a href="/camera"  class="active">Take a Picture</a>
      <!-- <a href="extra.html">Extra</a> -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</div>

<body>
          <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="cameratxt" style="font-size:3vw;">
                Camera
            </div>
          </div>


    <div class="col-xs-6 col-md-6">
        <div class="classification" style="font-size:2vw;">
            Classification:
        </div>
      </div>
  
        <div class="col-xs-6 col-md-6">
        <div class="answer" style="font-size:2vw;">
          {{percent, gender}}
      </div>
    </div>
</div>

<div class="row text-center">

  <div class="col-xs-6 col-md-6 text-center">
            <div class="parent">
                <div class="center">
      <img  class="responsive" src="static/profile2.png">
    </div>
    <!-- </div>
  </div> -->

  <!-- <div class="row"></div>
  <div class="col-xs-6 col-md-6 col-lg-6"> -->
  <div class="camera">
    <main id="camera">
        <!-- Camera view -->
        <video id="camera--view" autoplay playsinline></video>
      </div>
    </div>
  </div>
<!-- </div> -->

    <!-- <div class="row text-center"> -->
            <!-- Camera sensor -->
            <div class="col-xs-6 col-md-6">
                <img src = {{encoded}} style="transform: scaleX(-1);" onerror="this.style.display='none'">
            <canvas id="camera--sensor" style="display: none;"></canvas>
          </div>
        <!-- </div> -->
            <!-- Camera output -->
            <!-- <div class="row"> -->
            <!-- <div class="col-xs-6 col-md-6"> -->
              <div class="results"></div>
            <img  src="//:0" alt="" id="camera--output" style="display: none;">
          </div>
        </div>
            <!-- Camera trigger -->
          </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
            <button id="camera--trigger">Take Photo</button>
          </div>
        </div>
        <form action="{{ url_for('handle_data') }}" method="post" name="datauri" style="display: none;">
            <input type="text" name="datauri" id="picpost">
        </form>
    </main>
<!-- Reference to your JavaScript file -->
<script src="static/app.js"></script> 
</body>
</html>